<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796985701683-kbkh4vf79bub43h9qcsd1tcbki1sdm9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796985701683-kbkh4vf79bub43h9qcsd1tcbki1sdm9t</string>
	<key>API_KEY</key>
	<string>AIzaSyAD_3Ri-1lOEFfeni1_Ccf5USP7b32OCbA</string>
	<key>GCM_SENDER_ID</key>
	<string>796985701683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br2digital.nobullshit</string>
	<key>PROJECT_ID</key>
	<string>nobullshit-81a5f</string>
	<key>STORAGE_BUCKET</key>
	<string>nobullshit-81a5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796985701683:ios:ad637f87a24a294682ba46</string>
</dict>
</plist>